// $primary-color: #000000;
$primary-color: #000000;
$primary-accent: #4d194dff;
$secondary-accent: #006466ff;
// $primary-light: #eae0d5;
$primary-light: #f1ebe4;
// $primary-light: #0f1108;
// $primary-light-accent: #d6c3ae;
// $primary-light-accent: #97ff85;
$primary-light-accent: #39ff14;
// $primary-dark: #39ff14;
// $primary-dark: #39ff14;
// $primary-dark: #0f1108;
$primary-dark: #101010;
// $primary-dark: #392f5a;
$primary-dark-accent: #181d27;

$skobeloff: #006466ff;
$midnight-green-eagle-green: #065a60ff;
$midnight-green-eagle-green-2: #0b525bff;
$midnight-green-eagle-green-3: #144552ff;
$charcoal: #1b3a4bff;
$prussian-blue: #212f45ff;
$space-cadet: #272640ff;
$dark-purple: #312244ff;
$russian-violet: #3e1f47ff;
$russian-violet-2: #4d194dff;

$font-primary: "Courier Prime", monospace;
$font-secondary: "Bungee", sans-serif;
